  html, body {
    width: 10cm;
    height: 10cm;     
    padding: 1px 1px;
    margin: 1px 1px;
    background-color: #FAFAFA;
    /*font: 10pt "Tahoma";*/
    line-height: 58%;
  }
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .page {
    width: 10cm;
    height: 10cm;  
    padding: 0;
    margin: 0;
    background: white;
  }
  @page {
    size: 10cm 10cm;
    padding: 1px 1px;
    margin: 1px 1px;
    background: white;
  }
  @media print {
    html, body {
     width: 10cm;
     height: 10cm;     
     padding: 0;
     margin: 0;
     background-color: #FAFAFA;
     font: 8.5pt "Tahoma";
     line-height: 99%;      
    }
   .page {
     margin: 0;
     border: initial;
     border-radius: initial;
     width: initial;
     min-height: initial;
     box-shadow: initial;
     background: initial;
     page-break-after: always;
   }
  }
